
html {
    font-family: "sans-serif";
    font-size: 24px;
}

body {
    background-color: orange;
    background-repeat: no-repeat;
}

#logo {
    width:1920px;
    height:1080px;
}

/* fixed for TV sizing */
#testApp{
    position: absolute;
    top:0;
    left:0;
    width:1920px;
    height:1080px;
    background-color: lightgoldenrodyellow;
}

#loadingPage {
    background-color: lightgoldenrodyellow;
}

 #imageList {
    width: 100%;
    height: 350px;
    margin: 50px 0px 0px 0px;
}

 #container {
    position: absolute;
     top: 250px;
     left: 40px;
     overflow:hidden;
 }

#detailOKButton {
    background-color: lightgrey;
    color:darkgray;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 22px 0px 0px 0px
}

/* Image List item Renderer vertical-align key*/
.imageListItem{
    width: 195px;
    height: 100%;
    display: inline-block;
    margin: 0px 20px;
    vertical-align: top;
    padding: 0;
}

.imageListItem.blurred{
}

.imageListItem.selected {
    margin: -20px 20px 20px 20px;
    border: 5px;
    border-color: white;
    transform: scale(1.2)
}

#header {
    color: white;
    font-size:20px;
    margin: 10px;
}

